.baby-container  {
  display: flex;
  background: linear-gradient(#F5F4F4, 5%, white, 90%, lightgray);
  height: 500px;
  max-width: 100%;
}

.subheadtitle {
  color: #5A5A5A;
  font-size: 22px;
  font-weight: 400;
  text-transform: none;
  line-height: 1.6em;
  letter-spacing: 2.5px;
}
.headtitle {
  color: #E72C59;
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.8em;
  letter-spacing: 2.5px;
}
.baby-photo {
  width: 30%;
  height: 60%;
  position: relative;
  top: 10%;
  left: 10%;
}

.products-container {
  display: flex;
  justify-content: space-around;
}

.eveil-button {
  border: none;
  font-size: 20px;
  transition: all .2s ease-in-out;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #E72C59;
  border-radius: 8px 8px 8px 8px;
  padding: 18px 30px 18px 30px;
}

.eveil-button:hover {
  transform: scale(1.2);
}
.eveil {
  width: 100%;
  margin-top: 5%;
  text-align: center;
  position: relative;
  left: 20%;
  max-width: 40%;
}

.emerveillement {
  background-color: #E72C59;
  display: flex;
  height: 50px;
  padding: 4% 20%;
}

.emerveillement-titre {
  color: #f8f6f3;
  font-size: 22px;
  font-weight: 549;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.best-jouets {
  padding: 5%;
}
.emerveillement-button {
  background-color: #E72C59;
  padding: 1% 5%;
  font-size: 20px;
  color: white;
  transition: all .2s ease-in-out;
  margin-left: 7%;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%)
}
.emerveillement-button:hover {
  transform: scale(1.2);
}

.unique {
  text-align: center;
  padding-bottom: 5%;
}
.unique-title {
  color: #666666;
  font-size: 33px;
  font-weight: 300;
  line-height: 1.6em;
  letter-spacing: 1px;
  text-align: center;
}

.photo-enfants {
  display: flex;
  justify-content: space-around;
  padding: 1% 15%;
}

.photo-enfants img {
  width: 18%;
  opacity: 0.3;
}

.photo-enfants img:hover{
  opacity: 1;
}

.photos-emerveillement {
  display: flex;
  justify-content: space-around;
  padding: 1% 10%;
}

.photos-emerveillement img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

.text-emerveillement {
  margin-right: 2%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F5F5F5;
  text-align: center;
  color: #808285;
}
.jouet-emerveillement {
  background-color: #F5F5F5;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}

.fa-dove {
  color: #EC8C23;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 10%
}

.fa-drafting-compass {
  color: #27B6CA;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 10%
}

.fa-child {
  color: #E62B56;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 10%
}

.fa-tree {
  color: #31A73A;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 10%
}
