.products-container {
  background-color: #F5F5F5;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 50px 25px 50px;
}

.jouets2-img {
    width: 70%;
}
