.fa-baby {
  color: #2EB9CC;
  margin-bottom: 7%;
}

.fa-leaf {
  color: #3FA843;
  margin-bottom: 7%;
}

.fa-medal {
  color: rgba(191, 20, 180, 0.7686274509803922);
  margin-bottom: 7%;
}

.fa-grin-stars {
  color: #E12A54;
  margin-bottom: 7%;
}
